.navbar {
  background: linear-gradient(90deg, rgba(229,0,66,1) 0%, rgba(245,111,201,1) 0%, rgba(114,155,228,1) 100%, rgba(236,50,50,0.6475840336134453) 100%);
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-toggler {
  border: none;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    font-size: 1.1rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.7rem;
  }
}

/* Improved color scheme and hover animations */
.navbar-brand:hover {
  color: #007bff;
}

.navbar-nav .nav-link:hover {
  color: #46193c;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}