.navbar {
  background: linear-gradient(to right, #e50042 0%, #f56fcb 0%, #729bfa 100%, #ec3232 100%); /* Simplified gradient syntax */
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  padding: .5rem 1rem;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #46193c; /* Updated hover color */
  animation: fadeIn 0.3s ease-in-out;
}

.navbar-toggler {
  border: none;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    font-size: 1.1rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.7rem;
  }
}

/* Improved color scheme and hover animations */
.navbar-brand:hover {
  color: #007bff; /* Updated hover color */
}

@keyframes fadeIn {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
